*{
    list-style-type: none;
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
    background-color: rebeccapurple;
}
.nav-list ul{
    display: flex;
    gap: 20px;
}
.nav-list ul li a{
    color: red;
}
